body {
  background: #ccc;
}

.score {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 1, "ELSH" 0, "ELXP" 0;
}
